<html>

<title>Multiplayer Snake</title>

<head>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

    <div id="snakeName" hidden="hidden"><%=snakeName%></div>

    <script type="text/javascript" src="snake.js"></script>
</body>

</html>